body {
  background: blanchedalmond;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.container div {
  height: 50px;
  padding: 10px;
  margin: 10px;
}

.a {
  border: 2px solid black;
    width: 100%;
}

.b {
  border: 2px solid black;
  min-width: 60%;
  min-height: 200px;
  flex: 4;

}

.c {
  flex: 1;
  border: 2px solid black;
  min-height: 100px;
}

@media (max-width: 600px){
  .container {
    flex-direction: column;
  }
  .c {
    min-height: 50px;
  }
}